/* colors:
yellow: #faed26
light purple: #9D8D8F;
medium purple: #5a5560;
dark purple: #46344e; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-image: linear-gradient(to bottom, rgba(157,141,143, 0.85) ,rgba(90,85,96, 1)),
    url('images/background.jpg');
    background-color:	#5a5560;
    height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.container {
    display: flex;
    flex-direction: column;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;   
    font-size: 15px;
    color: white;
    background-color: transparent;
}

/* Navigation */
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 60px;  
    background-color: transparent;
}

.link {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.link:hover {
    color: #46344e;
}

.link-name {
    justify-self: flex-start;
    margin: 20px 20px;
    color: #faed26;
    font-weight: bold;
    text-decoration: none;
}

/* Nav Btn */
.nav-btn-container {
  display: none;
  float: right;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 15px;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.content {
    align-self: center;
    justify-self: center;
}

/* Home */
.content-container {
    min-height: 88vh;
    padding: 10vh 2vh;
    color: white;
}

.main-title {
    color: #faed26;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    font-size: 140px;
    overflow: hidden;

    animation: moveTitle 1s ease-in;
  }
  
  @keyframes moveTitle {
    0% {
    opacity: 0;
      transform: translateX(20rem);
    }

    100% {
        opacity: 1;
      transform: translate(0);
    }
  } 

.main-paragraph {
    font-size: 2vh;
    font-weight: bold;
    overflow: hidden;
    animation: moveToLeft 2.7s ease-in;
  }
  
  @keyframes moveToLeft {
     0% {
    opacity: 0;
      transform: translateX(20rem);
    }

    80% {
      opacity: 0
    }
  
    100% {
        opacity: 1;
      transform: translate(0);
    }
  } 
  
  .btn:link,
  .btn:visited {
    margin-top: 40px;
    padding: 18px;
    width: 200px;
    font-weight: bold;
    font-size: 23px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #9D8D8F;
    background-color: #46344e;
    border: none;
    display: inline-block;
    border: none;
    border-radius: 100px;
    display: inline-block;

    transition: all .2s;

    animation: moveUp 3s ease-in;
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:hover {
    color: #faed26;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

/* Pages */
.page-title {
    color: #faed26;
    font-family: 'Staatliches', cursive;
    font-size: 120px;
    margin-bottom: 5vh;
}

/* Contact */
.icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 20px;
    width: 250px;
    height: 300px;
    background-color: #5a5560;
    border-radius: 10px;

    transition: box-shadow .2s;
}

.icon-box:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
  transform: translateY(-3px);
}

.icon-box:active {
  transform: translateY(-1px);
}

.icon-box:hover .icon {
  display: none;
}

.icon-name {
  display: none;
  text-transform: uppercase;
  color: #faed26;
  font-weight: bold;
  font-size: 4vh;
  text-decoration: none;
}

.icon-box:hover .icon-name {
  display: block;
  animation: appear .3s ease;
}

@keyframes appear {
  0% {
    opacity: 0;
    font-size: 4vh;
  }
  80% {
    font-size: 4.2vh;
  }
  100% {
    opacity: 1;
  }
}

/* ABOUT */
.about-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.about-column-container{
  width: 500px;
  margin: 0px 20px;
  background-color: #5a5560;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  border-radius: 10px;
}

.about-column-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.avatar {
  margin: 10px 10px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  transition: box-shadow .2s;
}

.avatar:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
  transform: translateY(-1px);
}

.secondaty-title {
  font-family: 'Staatliches', cursive;
  font-size: 40px;
}

.charts {
  align-self: flex-start;
  width: 400px;
}

@media (max-width: 800px) {
  .footer {
    display: none;
  }
  .link {
    display: none;
  }
  .link-name {
    display: none;
  }
  .nav-btn-container {
    display: inline-block;
  }
  .content {
    max-width: 800px;
    padding-top: 0vh;
    justify-content: center;
    align-items: flex-start;
  }
  .content-container {
    padding: 2vh 2vh;
  }
  .page-title {
    margin-bottom: 2vh;
  }
  .icons-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon-box {
    margin: 10px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }
  .about-container{
    flex-direction: column;
  }
  .about-column-container{
    margin: 20px 20px;
  }
}

@media (max-width: 500px) {
  .main-title {
    font-size: 100px;
  }
  .about-column-container {
    max-width: 440px;
    border-radius: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .5);
  }
  .charts {
    margin-left: 50px;
  }
  .email-icon-box,
  .icon-box {
    box-shadow:0px 0px 10px 5px rgba(0, 0, 0, .3);
  }
}
