/* colors:
yellow: #faed26
light purple: #9D8D8F;
medium purple: #5a5560;
dark purple: #46344e; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to bottom right, rgba(157,141,143, 0.9) ,rgba(90,85,96, 0.9)),
    url('images/background.jpg');
    height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.container {
    display: flex;
    flex-direction: column;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.8rem;   
    font-size: 15px;
    color: white;
    background-color: transparent;
}

/* Navigation */
.navigation-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 3rem;  
    background-color: transparent;
}

.link {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.link:hover {
    color: #46344e;
}

.link-name {
    justify-self: flex-start;
    margin-right: 20px;
    margin-left: 20px;
    color: #faed26;
    font-weight: bold;
    text-decoration: none;
}

/* Home */
.content-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-height: 54.5rem;
    padding: 3rem;
    padding-top: 5rem;
    color: white;
}

.main-title {
    color: #faed26;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    font-size: 130px;
    line-height: 131px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

.main-paragraph {
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    animation-duration: 2s;
    animation-name: moveToLeft;
  }
  
  @keyframes moveToLeft {
    0% {
    opacity: 0;
      transform: translateX(20rem);
    }

    80% {
        transform: translateX(-0.5rem);
    }
  
    100% {
        opacity: 1;
      transform: translate(0);
    }
  } 

.button-container {
    align-self: center;
}
  
.btn {
    margin-top: 40px;
    padding: 18px;
    width: 200px;
    font-weight: bold;
    font-size: 23px;
    color: #9D8D8F;
    background-color: #5a5560;
    border: none;
}

.btn:hover {
    color: #faed26;
}

/* Pages */
.page-title {
    color: #faed26;
    font-family: 'Staatliches', cursive;
    font-size: 120px;
    margin-bottom: 20px;
}

/* Contact */
.icons-container {
    display: flex;
    justify-content: space-between;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    width: 15rem;
    height: 15rem;
    background-color: #5a5560;
    border-radius: 50%;
    border: solid black 3px
}

.icon-box:hover {
    background-color: transparent;
}
